.tub {
  display: flex;
  flex-wrap: wrap;
}

.but {
  border: none;
  color: rgb(0, 0, 0);
  padding: 50px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 4px 2px;
  cursor: pointer;
}
