* {
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease;
}
.body {
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.hoofd {
  background-color: #ffffff;
  padding: 50px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 3px solid rgb(156, 156, 156);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.voet {
  background-color: #ffffff;
  padding: 50px;
  font-size: 24px;
  font-weight: bold;
  border-top: 3px solid rgb(156, 156, 156);
  margin-top: auto;
}
.xyz {
  color: #343a40;
  margin: 10px 0;
  font-size: 18px;
}

.box {
  max-width: 300px;
  background: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  text-align: center;
}
.boxt {
  max-width: 600px;
  background: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  text-align: center;
  font-size: 30px;
}
.xob {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.groot {
  font-size: 100px;
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  background-color: #e6e6e6;
  color: white;
  cursor: pointer;
}
.nacht {
  background-color: rgb(0, 0, 61);
  color: rgb(255, 255, 255);
}
.nacht .box,
.nacht .boxt,
.nacht .hoofd,
.nacht .voet {
  background-color: #1e1e1e;
  color: rgb(255, 249, 182);
  border-color: #444;
}
.nacht .groot {
  background-color: #2f2f2f;
  border-color: #444;
}
